[submodule "txbits"]
        path = txbits
        url = https://github.com/txbits/txbits.git
[submodule "playbook/roles/personal-mailserver"]
        path = playbook/roles/personal-mailserver
        url = https://github.com/vikstrous/personal-mailserver.git
